
numpy
pandas
matplotlib
seaborn
nltk
scikit-learn
python-pptx
PyPDF2
wordcloud
numpy
pandas
matplotlib
seaborn
dill
nltk
scikit-learn
python-pptx
PyPDF2
wordcloud
Flask
dill
pandas
chardet
PyPDF2
scikit-learn