body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: auto;
    background: whit ;
    padding: 20px;
    border-radius: 5px;
    box-shadow : 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

#result {
    margin-top: 20px;
    font-size: 1.2em;
    text-align: center;
    font-weight: bold;
}

input[type="file"] {
    margin: 10px 0;
}

#loading {
    display: none;
    margin-top: 20px;
    font-size: 16px;
    color: blue;
}